.Parent {
  margin: auto 35%;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.padding2rem {
  padding: 2rem;
}

.paddingHor2rem {
  padding-left: 2rem;
  padding-right: 2rem;
}

.paddingVer1rem {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.fontLarge {
  font-size: large;
}

.tile-of-board {
  flex: 1 0 31%;
  max-width: 31%;
  background: grey;
  height: 100px;
  margin-bottom: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Child {
  position: relative;
}

.endCard {
  position: absolute;
  color: #1a1a1a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  font-size: large;
  border: 1px solid;
  font-weight: 900;
  box-shadow: 1px 1px 10px 3px #1a1a1a;
}

.button {
  /* background-color: #4CAF50; */
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

.cursorPointer {
  cursor: pointer;
}

.textShadow {
  text-shadow: 0px 0px 5px black;
}

.borderBottom {
  border-bottom: 4px solid #808080;
}

.green {
  background-color: #4CAF50;
}

.blue {
  background-color: #008CBA;
}

.red {
  background-color: #f44336;
}


.gray {
  background-color: #e7e7e7;
  color: black;
}

.black {
  background-color: #555555;
}